@model LibrarySystem.Models.View.UsersView
@{
    ViewData["Title"] = "Users";
}
<div class="container">
<div class="row">
  <!-- BEGIN SEARCH RESULT -->
  <div class="col-md-12">
    <div class="grid search">
      <div class="grid-body">
        <div class="row">
          <!-- BEGIN FILTERS -->
          <div class="col-md-3">
            <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
            <hr>
            <!-- BEGIN FILTER BY Role -->
            <h4>role:</h4>
            @foreach(var itam in Model.Roles)
            {
                 <div class="checkbox">
                    <label><input type="checkbox" value="@itam.Id" id="rolecheck" class="icheck"> @itam.Title</label>
                 </div>
                                
            }
             <!-- END FILTER BY Role -->
             <div class="padding mb-1"></div>
            <!-- BEGIN FILTER BY Username -->
            <h4>Username:</h4>
             <input type="text" class="form-control" id="usarname">   
               <!-- END FILTER BY Username -->
              <div class="padding mb-1"></div>
            <!-- BEGIN FILTER BY mail -->
            <h4>email:</h4>
           <input type="text" class="form-control" id="email">   
             <div class="padding mb-1"></div>
                            <div class="checkbox">
                                <label><input type="checkbox" id="unconfirmed" class="icheck"> Unconfirmed Email</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" id="confirmed" class="icheck"> Confirmed Email</label>
                            </div>
            <!-- Submit -->
            <span class="input-group-btn">
                <button class="btn btn-primary" id="target" type="button">Submit</button>
              </span>
            <!--  -->
          </div>
          <!-- END FILTERS -->
          <!-- BEGIN RESULT -->
          <div class="col-md-9">
                            <div class="btn-group ">
                            <div class="dropdown">
                                <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sort By
                                </button>
                                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item sort-option" data-value="name">Username</a></li>
                                        <li><a class="dropdown-item sort-option" data-value="email">Email</a></li>
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Order By
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item order-option" data-value="ascending">Ascending</a></li>
                                        <li><a class="dropdown-item order-option" data-value="descending">Descending </a></li>
                                </ul>
                            </div>
                            </div>
            <h2><i class="fa fa-file-o"></i> Result</h2>
            <hr>  
            <div class="padding"></div>
            <div class="table-responsive">
             <table class="table table-hover">
              <tbody id="userbody">
                  
            </tbody>
            </table>
            </div>
            <nav aria-label="Page navigation example"class="wrapper">
                                <ul id="pagination-demo" class="pagination-sm text-center"></ul>
                            </nav>
          </div>
          <!-- END RESULT -->
        </div>
      </div>
    </div>
  </div>
  <!-- END SEARCH RESULT -->
</div>
</div>

@section Scripts
 {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/js/userfilter.js" asp-append-version="true"></script>
   }