
@{
    ViewData["Title"] = "Home Page";
}
<div id="pagination-container"></div>

<i class="bi-sort-down">asdasdasda</i>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/js/Pagination.js" asp-append-version="true"></script>
    
    <script>
       
        $('#pagination-container').MyPagination({
            totalPages: 10,
            visiblePages: 5,
            onPageClick: function (pageNumber) {
                console.log( pageNumber);
            },
            currentPage: 2
        });
    </script>
}