html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

button {
    color: #fff;
    font-weight: normal;
    background: #630fe8;
    border-radius: 10px;
    margin-bottom: 5px;
        border: none;
    transition: .5s ease;
}
.button:hover {
    text-decoration: none;
    background: #d63384;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: #ffc451;
}
.navbar a {
    color: #000000
}

.btn-primary {
    margin-bottom: 5px;
    background: #630fe8;
}


.btn {
    margin-bottom: 5px;
}

.grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
  .grid .grid-body {
        padding: 15px 20px 15px 20px;
        font-size: 0.9em;
        line-height: 1.9em;
    }

.search table tr td.rate {
    color: #f39c12;
    line-height: 50px;
}

.search table tr:hover {
    cursor: pointer;
}

.search table tr td.image {
    width: 50px;
}

.search table tr td img {
    width: 50px;
    height: 50px;
}

.search table tr td.rate {
    color: #f39c12;
    line-height: 50px;
}

.search table tr td.price {
    font-size: 1.5em;
    line-height: 50px;
}

.search #price1,
.search #price2 {
    display: inline;
    font-weight: 600;
}
.wrapper {
    margin: 60px auto;
    text-align: center;
}

h1 {
    margin-bottom: 1.25em;
}

#pagination-container {
    display: inline-block;
    margin-bottom: 1.75em;
}

    #pagination-demo li {
        display: inline-block;
    }

ul.pagination {
    list-style: none;
    padding: 0;
}

.page-content {
    background: #eee;
    display: inline-block;
    padding: 10px;
    width: 100%;
    max-width: 660px;
}
.disable-link {
    color: inherit;
    text-decoration: none;
}

td[contenteditable="true"] {
    border-radius: 5px;
    outline: 1px solid #000000
}
td {
    max-width: 0px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.sort {
    cursor: pointer;
}

.form-control {
    margin-right: 5px;
    border-radius: 5px;
}
.card-body {
    background-color: #ebf2fa;
}
.autocomplete-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}
.js-example-basic-multiple {
    width: 300px;
}

.card {
    background-color: #ebf2fa;
}
.btn-link {
    border-radius: 5px;
    color: #fff;
    background-color: #630fe8;
    text-decoration: none;
    padding: 4px 4px;
}
    .btn-link:hover {
        color: white;
        text-decoration: none;
    }

.btn-color {
    background-color: #0e1c36;
    color: #fff;
}
.carousel {
    width: 100%; 
    height: 400px; 
    overflow: hidden; 
}
.carousel {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
    .carousel img {
        width: 100%; 
        height: 50%; 
        object-fit: cover; 
    }
.carousel-caption {
    position: absolute;
    top: 225px;
    left: 50%;
}

.search-results {
    position: absolute;
     display: none;
    width:90%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
}
.search-body {
    border-radius: 5px;
    
}
.search-group {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;

}
    .search-group:hover {
        background-color: #007bff;
    }
.search-title {
    margin: auto;
    margin-right: 5px;
}

.line-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-text {
    text-align: center;
    margin: 0 10px;
}

.dismissed {
    background-color: #ccc;
    cursor: not-allowed;
}
button {
    border-radius: 10px;
}
.image-cell {
    min-height: 50px;
    padding: 10px;
}

    .image-cell img {
        height: 50px;
        width: 50px;
        object-fit: fill;
        display: block;
        margin: 0 auto;
    }
.image-add{
    display: none;
    max-width: 200px;
    margin-top: 10px;
}
.left-corner-image {
    float: left;
    height: 50px;
    width: 50px;
    object-fit: fill;
    margin: 10px 0px 5px 40px;
}
