@model LibrarySystem.Models.View.AddPersonView
@{
    ViewData["Title"] = "Add Borrow";

}

<form class="card-body cardbody-color p-lg-5" method="post" asp-action="AddPerson" asp-controller="User">

    <div class="mb-3">
        <p>@ViewBag.ErrorMessage</p>
    </div>
    <div class="mb-3 ">
        <p class="mb-1">Book</p>
        <div class="input-group">
            <input type="text" class="form-control control" asp-for="Firstname" placeholder="book">
            <button class="btn btn-primary" id="submit" type="button"><i class="fa fa-search"></i></button>
        </div>
        <span class="text-danger" asp-validation-for="Firstname"></span>
    </div>
    <div class="mb-3">
        <p class="mb-1">Lastname</p>
        <input type="text" class="form-control control" asp-for="Lastname" placeholder="Lastname">
        <span class="text-danger" asp-validation-for="Lastname"></span>
    </div>
    <div class="mb-3">
        <p class="mb-1">Phone</p>
        <input type="text" class="form-control control" asp-for="Phone" placeholder="Phone">
        <span class="text-danger" asp-validation-for="Phone"></span>
    </div>
    <div class="mb-3">
        <p class="mb-1">Email</p>
        <input type="text" class="form-control control" asp-for="Email" placeholder="Email">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <p class="mb-1">Address</p>
        <input type="text" class="form-control" asp-for="Address" placeholder="Address">
        <span class="text-danger" asp-validation-for="Address"></span>
    </div>
    <div class="mb-3">
        <p class="mb-1">Date Of Birth</p>
        <input asp-for="DateOfBirth" id="datepicker" type="text" class="form-control control" placeholder="Date Of Birth " />
        <span class="text-danger" asp-validation-for="DateOfBirth"></span>
    </div>

    <div class="text-center">
        <button type="submit" class=" px-5 mb-5 w-100">
            Save Book
        </button>
    </div>
</form>