@model LibrarySystem.Models.View.ResetPasswordView;
@{
    ViewData["Title"] = "Reset Password";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">
                <form class="card-body cardbody-color p-lg-5" method="post" asp-action="ResetPassword" asp-controller="Account">

    <div class="text-center">
        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
             width="200px" alt="profile">

    </div>
    <div class="mb-3">
        <p>@ViewBag.ErrorMessage</p>
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" asp-for="Password" class="form-control" placeholder="Password">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="mb-3">
          <input type="hidden" class="form-control" asp-for="Token" class="form-control" value="@Model.Token">
          <span class="text-danger" asp-validation-for="Token"></span>
     </div>    <div class="text-center">
        <button type="submit" class="px-5 mb-5 w-100">
            Save Password
        </button>
    </div>

</form>
        </div>
    </div>
</div>
  </div>

