@{
    ViewData["Title"] = "Password Saved";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">
                <form class="card-body cardbody-color p-lg-5" style="background-color: #ebf2fa" method="post" asp-action="SavePassword" asp-controller="Account">
                    <div class="mb-3">
                        <p>@ViewBag.ErrorMessage</p>
                    </div>
                    <div class="mb-3">
                        <div class="form-text text-center mb-5 text-dark">
                            Your password has been reset. Please <a class="text-dark fw-bold" asp-controller="Account" asp-action="Login">
                                click here to log in
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
